<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <!--jQuery 불러오기-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <form id="Login" method="post" action="/">
            아이디<input type="text" id="Id" name="id" /><br>
            비밀번호<input type="text" id="PW" name="pw" />
            <button type="submit" id="OK">로그인</button>
        </form>
        <script>
            $("#Login").submit(function(event){
                // console.log('!!!!!', event);
                var formSerializeArray = $("#Login").serializeArray();
                var object = {};
                for (var i = 0; i < formSerializeArray.length; i++) {
                    object[formSerializeArray[i]['name']] = formSerializeArray[i]['value'];
                }

                var json = JSON.stringify(object);
                console.log('json 변환 확인', json);

                return json;
                // event.preventDefault();
            });
        </script>
    </body>
</html>